<h2>Page Layout Example:</h2>
<!-- main: vbox -->
<div ddFlexbox="v">
  <!-- menu: hbox with centered content -->
  <div ddFlexbox="xcyc">
    <button>Overview</button>
    <button>Projects</button>
    <button>Partner</button>
  </div>
  <!-- content: hbox -->
  <div ddFlexbox>
    <!-- sidebar: no grow or shrink in parent, itself a vbox with content to the right -->
    <div ddFlexitem="0 0" ddFlexbox="vye">
      <!-- label: position self left in parent -->
      <h3 ddFlexitem="as">Do:</h3>
      <button>Action 1</button>
      <button>Action 2</button>
      <button>Action 3</button>
    </div>
    <!-- data view: hbox which auto-wraps content -->
    <div ddFlexbox="w">
      <!-- data items: cards with different min width -->
      <div *ngFor="let card of [1,2,3,4,5,6,7,8,9,10]" ddFlexitem="0 0 {{ 1 + card%3 }}00px" ddFlexbox="v">
        <h4>Card {{card}}</h4>
        <label>Text Card Text Card Text Card</label>
      </div>
    </div>
  </div>
</div>

<h2>ddFlexbox Value Combinations:</h2>
<div *ngFor="let dir of ['h', 'v']">
  <div *ngFor="let param of ['xs', 'xc', 'xe', 'xb', 'xa', 'yt', 'ys', 'yc', 'ye', 'yb', 'ct', 'cs', 'cc', 'ce', 'cb', 'ca']"
    [ddFlexbox]="dir + param" [style.height]="'10rem'">
    <label *ngFor="let ii of [1,2,3,4,5]" [style.fontSize]="'1.' + ii + 'rem'">{{dir}}_{{param}}_{{ii}}</label>
  </div>
  <div *ngFor="let param of ['w']" [ddFlexbox]="dir + param" [style.maxWidth]="'13rem'" [style.maxHeight]="'4rem'">
    <label *ngFor="let ii of [1,2,3,4,5]" [style.fontSize]="'1.' + ii + 'rem'">{{dir}}_{{param}}_{{ii}}</label>
  </div>
</div>

<h2>ddFlexitem Value Combinations (in ddFlexbox h):</h2>
<div ddFlexbox [style.height]="'5rem'">
  <label *ngFor="let itemParam of ['as', 'ac', 'ae', 'ab', 'at', 'aa']" [ddFlexitem]="itemParam">item_{{itemParam}}</label>
</div>

<h2>ddFlexitem Size Combinations:</h2>
<div ddFlexbox [style.height]="'5rem'">
  <div *ngFor="let itemParam of ['0 1', '1 1', '2 1', '2 1', '1 1', '0 1 5rem']" [ddFlexitem]="itemParam">
    <label>{{itemParam}}</label>
  </div>
</div>